.d-flex{
    display: flex;
}

.box-shadow {
    box-shadow: 2px 2px 6px 0px #00000017;
}

.bg-dark{
    color: #FFF; 
    background-color: #464d55
}

.bg-light{
    color: #333;
    background-color: #f5f5f5;
}

.bg-blue{
    color: #FFF;
    background-color: #5587bd;
}

.border-1{
    border: 1px solid #ddd !important;
}

.rounded-circle{
    border-radius: 50%;
}

.glyphicon{
    padding: 6px;
}