/* #region Global CSS */
.icon-PhotoGallery {
    height: 60px;
}

.box-shadow {
    box-shadow: 8px 3px 6px 1px #0000002b;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
/* #endregion */

header .dropdown-toggle::after {
    content: none;
}

main {
    margin-bottom: 306px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}