/*#region CSS devices midia queries */
/* -- Tipycal Devices Breakpoints --
    * small screens : up to 600px
    * mobile        : from 600px to 768px
    * tablet        : from 768px to 992px
    * desktop       : from 992px to 1200px
    * large screens : above 1200px */
/*#endregion*/

/*#region Cell Phone --------------------------------------------------- */
@media only screen and (max-width: 767px) {
    
    /*#region Upload Form ----------------------------*/
    #upload-form-file-list #accepted-file-list-card img {
        width: 100%;
        height: 100%;
    }

    /*#endregion*/
}

/*#endregion*/

/*#region Cell Phone and portrait orientation -------------------------- */
@media only screen and (max-width: 767px) and (orientation: portrait) {

    /*#region Upload Form ----------------------------*/
    #upload-form-container {
        flex-direction: column;
    }

    #upload-form-container #upload-form,
    #upload-form-container #upload-form-file-list {
        width: 100%;
    }

    #upload-form #file-input-mask {
        border-bottom-left-radius: 0rem !important;
        border-top-right-radius: var(--bs-border-radius-sm) !important;
    }

    #upload-form-file-list {
        border-top-right-radius: 0rem !important;
        border-bottom-left-radius: var(--bs-border-radius-sm) !important;
    }

    /*#endregion*/
}

/* #endregion */

/* #region Tablet ------------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* #endregion */

/* #region Screens Smaller Than 992px ---------------------------------- */
@media only screen and (max-width: 992px) {

    /*#region Upload Form ----------------------------*/
    #upload-form #pc-upload-msg {
        display: none;
    }

    #upload-form #mobile-upload-msg {
        display: block;
    }

    /*#endregion*/
}

/* #endregion */

/* #region Desktop and Bigger Screens ---------------------------------- */
@media only screen and (min-width: 993px) {}

/* #endregion*/