/* <!-- CSS devices midia queries
-- Tipycal Devices Breakpoints --
    * telas pequenas: até 600px
    * celular       : de 600px até 768px
    * tablet        : de 768px até 992px
    * desktop       : de 992px até 1200px
    * telas grandes : acima de 1200px
--> */

/*#region Cell Phone --------------------------------------------------- */
@media only screen and (max-width: 767px) and (orientation: portrait) {

    /*#region Upload Form ----------------------------*/
    #upload-form-container {
        flex-direction: column;
    }

    #upload-form-container #upload-form,
    #upload-form-container #upload-form-file-list {
        width: 100%;
    }

    #file-input-mask {
        border-bottom-left-radius: 0rem !important;
        border-top-right-radius: var(--bs-border-radius-sm) !important;
    }

    #upload-form-file-list {
        border-top-right-radius: 0rem !important;
        border-bottom-left-radius: var(--bs-border-radius-sm) !important;
    }

    /*#endregion*/
}

/* #endregion */

/* #region Tablet ------------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* #endregion */

/* #region Screens Smaller Than 992px ---------------------------------- */
@media only screen and (max-width: 992px) {

    /*#region Upload Form ----------------------------*/
    #upload-form #pc-upload-msg {
        display: none;
    }

    #upload-form #mobile-upload-msg {
        display: block;
    }

    /*#endregion*/
}

/* #endregion */

/* #region Desktop and Bigger Screens ---------------------------------- */
@media only screen and (min-width: 993px) {}

/* #endregion*/