/*#region Upload Form ----------------------------*/
#upload-form-container #upload-form {
    width: 40%;
}

#upload-form #file-input-mask {
    height: 100%;
}

#upload-form-container #upload-form-file-list {
    width: 60%;
}

#upload-form-file-list #accepted-file-list-card {
    width: 100%;
}

#upload-form-file-list #accepted-file-list-card img {
    width: 150px;
}

#file-input,
#upload-form #mobile-upload-msg,
#upload-form-file-list #accepted-file-list-card,
#upload-form-file-list #upload-form-button-group {
    display: none;
}

/*#endregion*/

/*#region File List Table ------------------------*/

/*#endregion*/