/*#region Upload Form ----------------------------*/
#container-form-lista-arquivos-upload #form-upload-arquivos {
    width: 40%;
}

#container-form-lista-arquivos-upload #card-lista-arquivos-form-upload {
    width: 60%;
}

#btn-mascara-form-upload {
    height: 100%;
}

#file-input,
#msg-upload-celular,
#lista-arquivos-form-upload,
#grupo-btn-form-upload {
    display: none;
}

#lista-arquivos-form-upload {
    width: 100%;
}

#lista-arquivos-form-upload img {
    width: 150px;
}
/*#endregion*/

/*#region File List Table ------------------------*/

/*#endregion*/