<section class="d-flex pt-3 pe-2 pb-3 ps-2" id="container-form-lista-arquivos-upload">
    <form class="box-shadow" id="form-upload-arquivos">
        <input type="file" class="file" id="file-input" name="arquivos" data-show-preview="false" multiple />

        <span
            class="d-flex align-items-center justify-content-center flex-column dark bg-dark-3 bg-light-3 rounded-start-1 p-5"
            role="button" id="btn-mascara-form-upload">

            <strong class="text-dark-5">
                <h5>UPLOAD</h5>
            </strong>
            <i class="fas fa-cloud-upload fa-4x text-dark-5"></i>
            <msg class="text-center text-dark-5" id="msg-upload-pc">
                Clique nesta região ou arraste imagens do computador para adicioná-las na galeria de fotos.
            </msg>
            <msg class="text-center text-dark-5" id="msg-upload-celular">
                Clique nesta região para adicionar imagens na galeria de fotos.
            </msg>
        </span>
    </form>

    <div class="d-flex align-items-center justify-content-center flex-column rounded-end-1 box-shadow dark bg-dark-2 bg-light-2"
        id="card-lista-arquivos-form-upload">
        <ul class="d-flex flex-column-reverse p-3 pt-3" id="lista-arquivos-form-upload"></ul>

        <div class="d-flex text-center flex-column align-items-center m-5" id="msg-aquivo-form-upload">
            <i class="fas fa-times-circle fa-4x text-dark-5"></i>
            <msg class="text-dark-5">nenhuma imagem selecionada</msg>
        </div>

        <div class="text-center" id="grupo-btn-form-upload">
            <a class="btn btn-default m-3 text-white bg-blue border-blue-2" id="btn-salvar-form-upload">
                <span>
                    <i class="fas fa-cloud-upload fa-lg"></i> Enviar
                </span>
            </a>
            <a class="btn btn-default m-3 text-white bg-red border-red-2" id="btn-limpar-form-upload">
                <span>
                    Cancelar <i class="fas fa-eraser fa-lg"></i>
                </span>
            </a>
        </div>
    </div>
</section>