<section id="upload-index">
    <!-- #region Upload Form -->
    <section class="d-flex pt-3 pe-2 pb-3 ps-2" id="upload-form-container">
        <form class="box-shadow" id="upload-form">
            <input type="file" class="file" id="file-input" data-show-preview="false" multiple />

            <!-- #region Upload Button -->
            <span
                class="d-flex align-items-center justify-content-center flex-column bg-dark-3 bg-light-3 rounded-start-1 p-5"
                role="button" id="file-input-mask">

                <strong class="fs-4 text-dark-5">UPLOAD</strong>
                <i class="fas fa-cloud-upload fa-4x text-dark-5"></i>

                <msg class="text-center text-dark-5" id="pc-upload-msg">
                    Clique nesta região ou arraste imagens do computador para adicioná-las na galeria de fotos.
                </msg>
                <msg class="text-center text-dark-5" id="mobile-upload-msg">
                    Clique nesta região para adicionar imagens na galeria de fotos.
                </msg>
            </span>
            <!-- #endregion -->
        </form>

        <div class="d-flex align-items-center justify-content-center flex-column rounded-end-1 box-shadow bg-dark-2 bg-light-2"
            id="upload-form-file-list">

            <div class="d-flex flex-column">
                <ol class="p-3 pe-0 flex-wrap justify-content-between" id="accepted-file-list-card"></ol>
                <ol class="p-0" id="unaccepted-file-list-card"></ol>
            </div>

            <div class="d-flex flex-column align-items-center m-5" id="upload-form-message">
                <i class="fas fa-times-circle fa-4x text-dark-5"></i>
                <msg class="text-dark-5">nenhuma imagem selecionada</msg>
            </div>

            <!-- #region Action Buttons -->
            <div class="text-center" id="upload-form-button-group">
                <a class="btn btn-default m-3 text-white bg-blue border-blue-2" id="save-upload-form-button">
                    <span>
                        <i class="fas fa-cloud-upload fa-lg"></i> Enviar
                    </span>
                </a>
                <a class="btn btn-default m-3 text-white bg-red border-red-2" id="clear-upload-form-button">
                    <span>
                        Cancelar <i class="fas fa-eraser fa-lg"></i>
                    </span>
                </a>
            </div>
            <!-- #endregion -->
        </div>
    </section>
    <!-- #endregion -->

</section>